###> Back ###

/back/.env.local
/back/.env.local.php
/back/.env.*.local
/back/config/secrets/prod/prod.decrypt.private.php
/back/public/bundles/
/back/var/
/back/vendor/

/back/.phpunit.result.cache
/back/phpunit.xml

/back/phpunit.xml
/back/.phpunit.result.cache



###< Front ###
/front/node_modules/*