<style>
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 50% 50% no-repeat rgb(249, 249, 249);
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #1976d2;
        color: white;
        font-weight: 600;
    }

    .toolbar img {
        margin: 0 16px;
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span style="margin-left: 10px">Characters List</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
    <!-- Start Loader div-->
    <div *ngIf="loading else loaded">
        <div class="loader"></div>
    </div>
    <!-- Start Loader div-->

    <!-- Start List of characters-->
    <ng-template #loaded>
        <div class="row" style="margin-top: 80px">
            <div class="col-sm-2" *ngFor="let item of crudApi.list| mapToIterable   ;let i=index; ">
                <div class="thumbnail">
                    <img class="card-img-top"
                         src="{{item.value.pictureUrl}}/portrait_xlarge.{{item.value.pictureType}}">
                    <div class="caption text-center" style="font-size: 13px">
                        <p>{{item.value.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <!-- End List of characters-->

    <!-- Start Footer -->
    <footer>
    </footer>
    <!-- End Footer -->
</div>

